name: CI-CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: Build and Test
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle 8.14
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '8.14'

      - name: Build with Gradle Wrapper 8.14
        run: ./gradlew build

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: leesoylee/actions-practice:latest
  deploy:
    name: Deploy to EC2
    needs: build
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Connect and Deploy using SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{secrets.EC2_HOST}}
          username: ubuntu
          key: ${{secrets.EC2_PASSWORD}}
          script: |
            docker pull leesoylee/actions-practice:latest
            docker stop app || true
            docker rm app || true
            docker image prune -f || true
            docker run -d --name app -p 8080:8080 leesoylee/actions-practice:latest
            docker logs app