name: CI-CD

on:
  push:
    branches: ["main", "ci-workflow"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: Build and Test
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle 8.14
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '8.14'

      - name: Build with Gradle Wrapper 8.14
        run: ./gradlew build